<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
.header {
 overflow: hidden;
background-color:#333;
padding: 10px 0px;
color:white;
}
.header a{
color:white;
}
.header a:hover{
color:blue;
}
</style>
</head>
<body>
<body>
  <div class="header">
    <h1 align="center">Employee Management</h1>
    <h2 align="center">
      <a href="/">Get back to home page</a><br>
    </h2>
    </div>
    <h1 align="center">List of Employees</h1>
    <table border="1" align="center" cellpadding="5"
      style="font-size: 150%; font-family: inherit; font-style: normal; background-color: window;">
				<thead>
					<tr>
						<th>ID</th>
						<th>FirstName</th>
						<th>LastName</th>
						<th>Salary</th>
						<th>AddressId</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
						<tr th:each="emp:${listEmployeeByName}">
							<td th:text="${emp.id}"></td>
							<td th:text="${emp.firstName}"></td>
							<td th:text="${emp.lastName}"></td>
							<td th:text="${emp.salary}"></td>
							<td th:text="${emp.address.addressId}"></td>
							<td th:if='${actionEditDelete.equals("edit")}'><a th:href="@{/edit(id=${emp.id})}"/>Select</a>
								&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td th:if='${actionEditDelete.equals("delete")}'><a th:href="@{/delete(id=${emp.id})}"/>Select</a>
								&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
				</tbody>
			</table>
			
</body>
</html>